<div class="col-md-12 p-4">
  <div class="col-12 d-flex justify-content-center">
    <div class="col-6 p-4 bg-white border rounded-5 ">
      <form >
        <div class="grid col-12 md:col-8">
          <label class="form-label" for="Email">Usuario - Email </label>
          <input type="email" formControlName="email" id="Email" class="form-control" required email />
        </div>

        <div class="grid col-12 md:col-8">
          <label class="form-label" for="password">Password</label>
          <input type="password"  formControlName="password" id="password" class="form-control"
            required  minlength="3" />
        </div>

        <div class="grid col-12  d-flex justify-content-center p-2">
          <div class="col-6 d-flex justify-content-center">
            <button type="button" class="btn btn-primary ">Entrar</button>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>

<router-outlet></router-outlet>
